Repository ipc-lab/kaira: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-changelog, generate-api-reference, generate-example-indices

generate-changelog:
  name: Generate changelog.rst from CHANGELOG.md
  entry: python scripts/generate_changelog.py
  language: system
  pass_filenames: false

generate-api-reference:
  name: Generate API reference documentation
  entry: python scripts/generate_api_reference.py docs/api_reference.rst
  language: system
  pass_filenames: false

generate-example-indices:
  name: Generate example gallery index files
  entry: python scripts/generate_example_indices.py
  language: system
  pass_filenames: false

feat: enhance README and code coverage with new tests for ECC and LDPC benchmarks
  README.md
  codecov.yml
  examples/benchmarks/plot_ecc_comprehensive_benchmark.py
  examples/benchmarks/plot_ldpc_codes_comparison.py
  examples/models_fec/plot_ldpc_educational_vs_professional.py
  tests/benchmarks/test_advanced_coverage.py
  tests/benchmarks/test_coverage_improvements.py
  tests/benchmarks/test_targeted_coverage.py
Due: generate-example-indices

refactor: remove educational vs professional LDPC codes comparison example and related visualizations
  docs/examples/models_fec/index.rst
  examples/models_fec/plot_ldpc_educational_vs_professional.py
Due: generate-example-indices

Refactor Examples: Extract Plotting Code and Convert Print Statements to Comments #34
  examples/channels/plot_awgn_channel.py
  examples/channels/plot_binary_channels.py
  examples/channels/plot_fading_channels.py
  examples/constraints/plot_basic_constraints.py
  examples/constraints/plot_constraint_composition.py
  examples/constraints/plot_practical_constraints.py
  examples/data/plot_correlation_models.py
  examples/data/plot_data_generation.py
  examples/metrics/plot_performance_metrics.py
  examples/metrics/plot_signal_metrics.py
  examples/models_fec/plot_fec_blockwise_processing.py
  examples/models_fec/plot_fec_encoders_tutorial.py
  examples/models_fec/plot_fec_ldpc_advanced_visualization.py
  examples/models_fec/plot_fec_ldpc_simulation.py
  examples/modulation/plot_qam_modulation.py
  examples/modulation/plot_qam_modulation_refactored.py
  examples/utils/__init__.py
  examples/utils/plotting.py
  issue_34_implementation_summary.md
Due: generate-example-indices

Refactor Examples: Extract Plotting Code and Convert Print Statements to Comments #34
  .pre-commit-config.yaml
  docs/api_reference.rst
  docs/examples/example_utils/index.rst
  docs/examples/modulation/index.rst
  examples/benchmarks/plot_ldpc_codes_comparison.py
  examples/channels/plot_awgn_channel.py
  examples/channels/plot_binary_channels.py
  examples/channels/plot_fading_channels.py
  examples/constraints/plot_basic_constraints.py
  examples/constraints/plot_constraint_composition.py
  examples/constraints/plot_practical_constraints.py
  examples/data/plot_correlation_models.py
  examples/data/plot_data_generation.py
  examples/metrics/plot_performance_metrics.py
  examples/metrics/plot_signal_metrics.py
  examples/models_fec/plot_fec_blockwise_processing.py
  examples/models_fec/plot_fec_encoders_tutorial.py
  examples/models_fec/plot_fec_ldpc_advanced_visualization.py
  examples/models_fec/plot_fec_ldpc_simulation.py
  examples/models_fec/plot_fec_syndrome_decoding.py
  examples/modulation/plot_qam_modulation_refactored.py
  examples/utils/__init__.py
  examples/utils/plotting.py
  issue_34_implementation_summary.md
  kaira/benchmarks/visualization.py
  kaira/metrics/utils.py
  kaira/models/binary/soft_bit_thresholding.py
  kaira/models/fec/encoders/ldpc_code.py
  kaira/utils/__init__.py
  kaira/utils/plotting.py
Due: generate-api-reference, generate-example-indices

Refactor modulation examples and improve type handling
  docs/examples/modulation/index.rst
  examples/benchmarks/plot_ldpc_codes_comparison.py
  examples/channels/plot_channel_comparison.py
  examples/channels/plot_composite_channels.py
  examples/channels/plot_fading_channels.py
  examples/channels/plot_phase_noise_channel.py
  examples/data/plot_correlation_models.py
  examples/losses/plot_adversarial_losses.py
  examples/metrics/plot_performance_metrics.py
  examples/models/plot_sequential_model.py
  examples/models_fec/plot_fec_syndrome_decoding.py
  examples/modulation/plot_higher_order_qam.py
  examples/modulation/plot_modulation_schemes.py
  examples/modulation/plot_pam_modulation.py
  examples/modulation/plot_pi4qpsk_modulation.py
  examples/modulation/plot_psk_modulation.py
  examples/modulation/plot_qam_modulation.py
  examples/modulation/plot_qam_modulation_refactored.py
  examples/utils/plot_capacity_analyzer.py
  kaira/models/fec/encoders/polar_code.py
  kaira/modulations/oqpsk.py
  kaira/modulations/pam.py
  kaira/modulations/pi4qpsk.py
  kaira/modulations/psk.py
  kaira/modulations/qam.py
Due: generate-api-reference, generate-example-indices

#34 refactor: update plotting imports and utilize PlottingUtils for consistent style setup
  docs/examples/constraints/index.rst
  examples/channels/plot_awgn_channel.py
  examples/channels/plot_binary_channels.py
  examples/channels/plot_fading_channels.py
  examples/constraints/plot_basic_constraints.py
  examples/constraints/plot_constraint_composition.py
  examples/constraints/plot_practical_constraints.py
  examples/data/plot_correlation_models.py
  examples/data/plot_data_generation.py
  examples/modulation/plot_modulation_schemes.py
  examples/modulation/plot_qam_modulation.py
Due: generate-example-indices

refactor: enhance error handling in setup.py and improve file reading logic
  setup.py
Due: none

Refactor plotting utilities and update examples to use new PlottingUtils methods
  examples/constraints/plot_basic_constraints.py
  examples/metrics/plot_performance_metrics.py
  examples/metrics/plot_signal_metrics.py
  examples/models_fec/plot_fec_blockwise_processing.py
  examples/models_fec/plot_fec_encoders_tutorial.py
  examples/models_fec/plot_fec_ldpc_advanced_visualization.py
  examples/models_fec/plot_fec_ldpc_simulation.py
  kaira/utils/plotting.py
Due: generate-api-reference, generate-example-indices

Refactor documentation and examples: Update contributing guidelines, enhance tooltip descriptions, and improve comment formatting in various example scripts.
  docs/contributing.rst
  docs/examples/constraints/index.rst
  docs/examples/example_utils/index.rst
  examples/channels/plot_fading_channels.py
  examples/constraints/plot_constraint_composition.py
  examples/data/plot_data_generation.py
  examples/models_fec/plot_fec_blockwise_processing.py
  examples/models_fec/plot_fec_ldpc_advanced_visualization.py
  examples/models_fec/plot_fec_ldpc_simulation.py
Due: generate-example-indices

refactor: convert PosixPath to string in mock file handling for consistency
  tests/test_setup.py
Due: none

Add comprehensive tests for PlottingUtils and enhance plotting functionality
  kaira/utils/plotting.py
  tests/utils/test_plotting.py
Due: generate-api-reference

Remove example script for Discrete Task-Oriented Deep JSCC (Xie 2023) model, including model configuration, evaluation, visualization, and performance comparison across different channels.
  docs/examples/models/index.rst
  examples/models/plot_sequential_model.py
  examples/models/plot_xie2023_dt_deepjscc.py
Due: generate-example-indices

Enhance visualizations and animations for FEC and LDPC decoding examples
  examples/benchmarks/plot_visualization_example.py
  examples/channels/plot_binary_channels.py
  examples/channels/plot_fading_channels.py
  examples/channels/plot_poisson_channel.py
  examples/constraints/plot_basic_constraints.py
  examples/constraints/plot_constraint_composition.py
  examples/constraints/plot_practical_constraints.py
  examples/metrics/plot_signal_metrics.py
  examples/models_fec/plot_fec_decoders_tutorial.py
  examples/models_fec/plot_fec_encoders_tutorial.py
  examples/models_fec/plot_fec_ldpc_advanced_visualization.py
  examples/models_fec/plot_fec_polar_advanced_visualization.py
  examples/modulation/plot_qam_modulation.py
  kaira/benchmarks/visualization.py
Due: generate-api-reference, generate-example-indices

Remove patch coverage configuration from codecov.yml
  codecov.yml
Due: none

Add comprehensive tests for mutual information processing and edge cases in CapacityAnalyzer
  tests/utils/test_capacity_analyzer.py
Due: none

Add installation and validation steps for BPG tools in CI workflows
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Due: none

Refactor BPG tools installation in CI workflows to create a local bin directory, improve dependency checks, and enhance error handling during compilation.
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Due: none

Enhance data handling and visualization in channel comparison and MAC integration examples; improve comments and remove unnecessary print statements in FEC tutorials.
  examples/channels/plot_channel_comparison.py
  examples/constraints/plot_basic_constraints.py
  examples/models/plot_afmodule.py
  examples/models/plot_channel_aware_base_model.py
  examples/models/plot_uplink_mac_integration.py
  examples/models_fec/plot_fec_decoders_tutorial.py
  examples/models_fec/plot_fec_encoders_tutorial.py
  examples/models_fec/plot_fec_polar_advanced_visualization.py
Due: generate-example-indices

Refactor BPG tools installation in CI workflows to improve environment checks, error handling, and installation verification; ensure non-critical failures do not halt the process.
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Due: none

Improve system dependency installation in CI workflows with enhanced checks and alternative installation methods
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Due: none

Add comprehensive tests for SSIM and EVM metrics, including stateful methods, error handling, and edge cases
  tests/metrics/test_image_ssim.py
  tests/metrics/test_signal_metrics.py
Due: none

Refactor examples and tests for improved clarity and coverage
  kaira/metrics/image/ssim.py
  kaira/metrics/signal/evm.py
Due: generate-api-reference

CapacityAnalyzer removed. Refactor code structure for improved readability and maintainability
  docs/api_reference.rst
  docs/examples/utils/index.rst
  docs/examples_index.rst
  examples/utils/README.txt
  examples/utils/plot_capacity_analyzer.py
  kaira/utils/__init__.py
  kaira/utils/capacity_analyzer.py
  tests/utils/test_capacity_analyzer.py
Due: generate-api-reference, generate-example-indices

Update BPG download links to use the correct source for improved installation reliability
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  docs/installation.rst
Due: none

Update changelog and version to 0.2.1; add new features, improvements, and fixes
  CHANGELOG.md
  docs/changelog.rst
  docs/conf.py
  kaira/version.py
Due: generate-changelog, generate-api-reference

Remove references to unused example directories in documentation
  docs/conf.py
  docs/examples_index.rst
Due: none

Add GitHub Actions workflow for deploying to PyPI
  .github/workflows/deploy.yml
Due: none

#32 Implement base image compressor and add JPEG/PNG compressor classes with unit tests
  docs/api_reference.rst
  kaira/models/image/compressors/__init__.py
  kaira/models/image/compressors/base.py
  kaira/models/image/compressors/jpeg.py
  kaira/models/image/compressors/png.py
  test_new_compressors.py
  tests/test_jpeg_png_compressors.py
Due: generate-api-reference

#32 Add new image compressors: JPEG2000, JPEG XL, and WebP
  docs/api_reference.rst
  kaira/models/image/compressors/__init__.py
  kaira/models/image/compressors/jpeg2000.py
  kaira/models/image/compressors/jpegxl.py
  kaira/models/image/compressors/webp.py
  requirements-dev.txt
  requirements.txt
  test_new_compressors.py
  test_new_compressors_unit.py
Due: generate-api-reference

#32 Refactor sample image loading into SampleDataLoader class
  docs/api_reference.rst
  docs/examples/models/index.rst
  examples/metrics/plot_image_metrics.py
  examples/models/plot_bourtsoulatze_deepjscc.py
  examples/models/plot_image_compressors.py
  kaira/data/__init__.py
  kaira/data/sample_data.py
  scripts/download_example_images.py
  tests/data/test_sample_data.py
Due: generate-api-reference, generate-example-indices

Refactor neural compressors section in plot_image_compressors.py for clarity
  examples/models/plot_image_compressors.py
Due: generate-example-indices

Add Code of Conduct document to repository
  CODE_OF_CONDUCT.md
Due: none

Remove old test script and add comprehensive integration tests for image compressors
  test_new_compressors.py
  tests/models/test_image_compressors_integration.py
  tests/models/test_image_compressors_new.py
Due: none

#13 feat: Enhance model configuration and training capabilities
  configs/__init__.py
  docs/api_reference.rst
  docs/examples/data/index.rst
  examples/channels/plot_channel_comparison.py
  examples/data/plot_correlation_models.py
  examples/data/plot_data_generation.py
  examples/metrics/plot_image_metrics.py
  examples/models/plot_bourtsoulatze_deepjscc.py
  examples/models/plot_image_compressors.py
  kaira/__init__.py
  kaira/data/__init__.py
  kaira/data/correlation.py
  kaira/data/datasets.py
  kaira/data/generation.py
  kaira/data/sample_data.py
  kaira/models/__init__.py
  kaira/models/base.py
  kaira/trainer.py
  requirements.txt
  tests/data/test_sample_data.py
Due: generate-api-reference, generate-example-indices

feat: Introduce training module with Trainer and TrainingArguments classes; enhance documentation and error handling in sample data tests
  docs/api_reference.rst
  kaira/__init__.py
  kaira/training/__init__.py
  kaira/training/arguments.py
  kaira/training/trainer.py
  tests/data/test_sample_data.py
Due: generate-api-reference

Add comprehensive tests for kaira.data and kaira.training modules
  kaira/training/arguments.py
  tests/data/test_correlation_models.py
  tests/data/test_data.py
  tests/data/test_data_generation.py
  tests/data/test_data_utils.py
  tests/data/test_datasets.py
  tests/data/test_init.py
  tests/data/test_sample_data.py
  tests/training/test_training.py
Due: generate-api-reference

#40 feat: Implement Kaira training CLI and add example scripts; create training configurations for models
  configs/__init__.py
  configs/training_example.yaml
  configs/training_simple.yaml
  docs/index.rst
  docs/training.rst
  examples/hydra_training_example.py
  scripts/kaira_train.py
  scripts/test_kaira_train.py
  setup.py
Due: generate-example-indices

feat: Remove outdated Hydra training example script #40
  examples/hydra_training_example.py
Due: generate-example-indices

feat: Update data generation examples to use PyTorch tensors and enhance dataset filtering
  docs/examples/data/index.rst
  examples/data/plot_correlation_models.py
  examples/data/plot_data_generation.py
Due: generate-example-indices

Refactor training script and tests for improved configuration handling
  docs/api_reference.rst
  kaira/models/base.py
  kaira/training/arguments.py
  scripts/kaira_train.py
  tests/training/test_training.py
Due: generate-api-reference

Path conditions:
  generate-changelog: any of: ^CHANGELOG\.md$
  generate-api-reference: any of: ^kaira/.*\.py$
  generate-example-indices: any of: ^examples/.*\.py$
