Repository ipc-lab/kaira: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-changelog, generate-api-reference, generate-example-indices

Path conditions:
  generate-changelog: any of: ^CHANGELOG\.md$
  generate-api-reference: any of: ^kaira/.*\.py$
  generate-example-indices: any of: ^examples/.*\.py$

fix: Update docstring format for DeepJSCC model implementation
  kaira/models/image/bourtsoulatze2019_deepjscc.py
Due: generate-api-reference

fix: Update docstring to include citation for Yilmaz2023DeepJSCCNOMA module
  kaira/models/image/yilmaz2023_deepjscc_noma.py
Due: generate-api-reference

feat: Add Hugging Face Hub integration for model upload and management
  docs/training.rst
  kaira/training/arguments.py
  kaira/training/trainer.py
  requirements.txt
  scripts/kaira_train.py
  tests/training/test_hub_upload.py
Due: generate-api-reference

fix: Update API reference formatting in training documentation
  docs/training.rst
Due: none

fix: Add numpy seeding to seed_everything function for reproducibility
  deepjscc_performance_curves.png
  deepjscc_reconstruction_quality.png
  deepjscc_sample_images.png
  deepjscc_visual_comparison.png
  docs/api_reference.rst
  docs/examples/models/index.rst
  examples/models/plot_bourtsoulatze_deepjscc.py
  kaira/utils/__init__.py
Due: generate-api-reference, generate-example-indices

chore: Remove unused image files from the repository
  deepjscc_performance_curves.png
  deepjscc_reconstruction_quality.png
  deepjscc_sample_images.png
  deepjscc_visual_comparison.png
Due: none

fix: Update transformers dependency to include torch extras
  requirements.txt
Due: none

Added differentiable Gray-coded QAM modulation
  kaira/modulations/qam.py
Due: generate-api-reference

Adding differentiable precise and approximate demodulation for QAM.
  kaira/modulations/qam.py
Due: generate-api-reference

#38 Added differentiable Gray-coded QAM modulation
  kaira/modulations/qam.py
Due: generate-api-reference

#38 Adding differentiable precise and approximate demodulation for QAM.
  kaira/modulations/qam.py
Due: generate-api-reference

refactor: Update plotting utilities for consistent performance visualization across examples
  .gitignore
  examples/models/plot_deepjscc_model.py
  examples/models_fec/plot_fec_ldpc_advanced_visualization.py
  examples/models_fec/plot_fec_ldpc_simulation.py
  examples/modulation/plot_qam_modulation.py
  kaira/utils/plotting.py
Due: generate-api-reference, generate-example-indices

refactor: Enhance documentation structure and organization for FEC models in API reference
  .gitignore
  docs/api_reference.rst
  docs/conf.py
  examples/data/plot_data_generation.py
  examples/models/plot_deepjscc_model.py
  scripts/generate_api_reference.py
Due: generate-example-indices

refactor: Clean up API reference documentation by removing redundant decoder listings and improving encoder descriptions
  docs/api_reference.rst
  kaira/__init__.py
  kaira/models/image/xie2023_dt_deepjscc.py
  scripts/generate_api_reference.py
Due: generate-api-reference

Remove comprehensive tests for multimodal and text loss functions due to redundancy and refactoring.
  docs/api_reference.rst
  docs/examples/losses/index.rst
  examples/losses/plot_adversarial_losses.py
  examples/losses/plot_audio_losses.py
  examples/losses/plot_multimodal_losses.py
  examples/losses/plot_text_losses.py
  kaira/losses/__init__.py
  kaira/losses/adversarial.py
  kaira/losses/audio.py
  kaira/losses/multimodal.py
  kaira/losses/text.py
  tests/losses/test_losses_adversarial.py
  tests/losses/test_losses_audio.py
  tests/losses/test_losses_multimodal.py
  tests/losses/test_losses_text.py
Due: generate-api-reference, generate-example-indices

Refactor dataset classes and tests for improved clarity and functionality
  docs/api_reference.rst
  examples/data/plot_correlation_models.py
  examples/data/plot_data_generation.py
  examples/metrics/plot_image_metrics.py
  examples/models/plot_bourtsoulatze_deepjscc.py
  examples/models/plot_deepjscc_model.py
  examples/models/plot_image_compressors.py
  kaira/data/__init__.py
  kaira/data/datasets.py
  kaira/data/sample_data.py
  tests/data/test_datasets.py
  tests/data/test_init.py
  tests/data/test_sample_data.py
  tests/utils/test_plotting.py
Due: generate-api-reference, generate-example-indices

Refactor code for improved readability and consistency
  docs/api_reference.rst
  docs/conf.py
  docs/examples/data/index.rst
  docs/examples/models/index.rst
  examples/data/plot_correlation_models.py
  examples/data/plot_data_generation.py
  examples/models/plot_bourtsoulatze_deepjscc.py
  examples/models/plot_deepjscc_model.py
  examples/models_fec/plot_fec_ldpc_advanced_visualization.py
  examples/models_fec/plot_fec_ldpc_simulation.py
  examples/modulation/plot_qam_modulation.py
  kaira/__init__.py
  kaira/data/__init__.py
  kaira/data/datasets.py
  kaira/data/sample_data.py
  kaira/utils/plotting.py
  scripts/generate_api_reference.py
  tests/data/test_datasets.py
  tests/data/test_init.py
  tests/utils/test_plotting.py
Due: generate-api-reference, generate-example-indices

refactor: Enhance DeepJSCC model compatibility and performance analysis
  examples/models/plot_deepjscc_model.py
Due: generate-example-indices

Fix contributing guide outdated references
  CONTRIBUTING.md
  examples/models/plot_deepjscc_model.py
  scripts/lint.sh
Due: generate-example-indices

Fix remaining outdated reference in contributing guide
  CONTRIBUTING.md
Due: none
